body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #fefcf9;
}
.font-poppins {
    font-family: 'Poppins', sans-serif;
}
.footer-link a {
    all: unset;
    cursor: pointer;
    display: inline;
}

.bg-color {
    background-color: #fefcf9 !important;
}

/*Navbar styling*/

.custom-mega-navbar {
    padding: 15px 0;
    background-color: #f4f1ea;
    color: black;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.custom-mega-navbar a {
    all: unset;
    cursor: pointer;
    display: inline;
}

.custom-mega-navbar ul {
    display: flex;
    gap: 1rem; 
}

.custom-mega-navbar li {
    margin: 0;
    padding: 0;
}

.custom-mega-navbar ul.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.custom-mega-navbar .navigation-item {
    position: relative;
}

.custom-mega-navbar .navigation-link {
    cursor: pointer;
    text-decoration: none;
}

.custom-mega-navbar .navigation-item:hover > .navigation-dropdown-menu {
    display: block;
}

.custom-mega-navbar .dropdown-item {
        padding: 0.5rem 1rem;
        text-decoration: none;
        font-size: 15px;
        white-space: nowrap;
        display: block;
        margin-bottom: 0.5rem;
    }

.custom-mega-navbar .dropdown-item:last-child {
     margin-bottom: 0;
}

.custom-mega-navbar .navigation-link.active,
.custom-mega-navbar .dropdown-item.active {
     text-decoration: underline;
     text-underline-offset: 6px;
}

.custom-mega-navbar .navigation-link,
.custom-mega-navbar .dropdown-item {
     transition: transform 0.3s;
}

.custom-mega-navbar .navigation-link:hover,
.custom-mega-navbar .dropdown-item:hover {
      transform: scale(1.05);
 }

.custom-mega-navbar .navigation-dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 200px;
        background-color: #fefcf9;
        border-radius: 0.25rem;
        z-index: 1000;
        padding-top: 1rem; 
}

.custom-mega-navbar .navigation-item:hover > .navigation-dropdown-menu {
        display: block;
}

.custom-mega-navbar .navigation-dropdown-menu::before {
        content: "";
        position: absolute;
        top: 0;
        left: 30px; 
        transform: translateY(-100%);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fefcf9; 
}


.custom-mega-navbar .navigation-dropdown-menu .navigation-item {
        position: relative;
}

.custom-mega-navbar .navigation-dropdown-menu.sub-menu {
        top: 0;
        left: 100%;
        margin-left: 0.2rem;
        border-radius: 0.25rem;
        min-width: 200px;
        z-index: 1000;
        background-color: #fefcf9;
        display: none;
        position: absolute;
        padding-top: 1rem;
    }

.custom-mega-navbar .navigation-dropdown-menu.sub-menu::before {
            top: 15px;
            left: -8px;
            transform: none;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 8px solid #fefcf9;
            content: "";
            position: absolute;
}

.custom-mega-navbar .navigation-dropdown-menu > .navigation-item:hover > .sub-menu {
        display: block;
}


/*Car Company command News*/

.car-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 2px solid #000;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.car-specs li {
    margin-bottom: 0.5rem;
}

/*About use command FAQs*/

.faq-title {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.accordion-button:not(.collapsed) {
    color: #0d6efd;
    font-weight: 600;
}


/*Bredcum navigation*/
.breadcrumb-link a {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: black;
    color:black;
}









