html, body {
    overflow-x: hidden;
}
body {
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    overflow-x: hidden;
    color: black;
    margin: 0;
    height: 100%;
}
body.drawer-open {
        overflow: hidden;
        position: fixed;
        width: 100%;
        height: 100%;
    }
ul {
    list-style: none;
    margin:0px;
}
a {
    all: unset;
    cursor: pointer;
    display: inline;
}
img{
    display:block;
    max-inline-size:100%;
}
/*Custom Navigation widget styling*/

.custom-mega-navbar {
    padding: 15px 0;
    background-color: #f4f1ea;
    color: black;
    border-bottom: 1px solid #e5e5e5;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    overflow-x: clip;
}

.custom-mega-navbar a {
        all: unset;
        cursor: pointer;
        display: inline;
    }

.custom-mega-navbar ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }

.custom-mega-navbar li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

.custom-mega-navbar ul.nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 1rem;
    }

.custom-mega-navbar .navigation-item {
        position: relative;
    }

.custom-mega-navbar .navigation-link {
        cursor: pointer;
        text-decoration: none;
    }

.custom-mega-navbar .navigation-item:hover > .navigation-dropdown-menu {
        display: block;
    }

.custom-mega-navbar .dropdown-item {
        padding: 0.5rem 1rem;
        font-weight: 400;
        font-size: 15px;
        white-space: nowrap;
        display: block;
        margin-bottom: 0;
        line-height: 1.6;
        position: relative;
    }

.custom-mega-navbar .dropdown-item:last-child {
            margin-bottom: 0;
        }

.custom-mega-navbar .navigation-link.active,
.custom-mega-navbar .dropdown-item.active {
            text-decoration: underline;
            text-underline-offset: 6px;
}

.custom-mega-navbar .navigation-link,
.custom-mega-navbar .dropdown-item {
        transition: transform 0.3s;
    }

.custom-mega-navbar .navigation-link:hover,
.custom-mega-navbar .dropdown-item:hover {
            transform: scale(1.05);
        }

.custom-mega-navbar .navigation-dropdown-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 180px;
        background-color: #fefcf9;
        border-radius: 0.25rem;
        z-index: 1000;
        padding-top: .75rem;
        list-style: none;
        margin-top: 5px;
    }

.custom-mega-navbar .navigation-dropdown-menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: block;
        }

.custom-mega-navbar .navigation-item:hover > .navigation-dropdown-menu {
        display: block;
    }

.custom-mega-navbar .navigation-dropdown-menu::before {
        content: "";
        position: absolute;
        top: 0;
        left: 15px;
        transform: translateY(-100%);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fefcf9;
    }

.custom-mega-navbar .navigation-dropdown-menu .navigation-item {
        position: relative;
    }

.custom-mega-navbar .navigation-dropdown-menu.sub-menu {
        top: 0;
        left: 100%;
        right: auto;
        margin-left: 10px;
        border-radius: 0.25rem;
        min-width: 180px;
        z-index: 1001;
        background-color: #fefcf9;
        display: none;
        position: absolute;
        padding-top: 0rem;
        list-style: none;
        margin-top: 0;
    }

/* Add triangle arrow for second-level dropdown (same style as first level) */
custom-mega-navbar .navigation-dropdown-menu:not(.sub-menu)::before {
        content: "";
        position: absolute;
        top: 0;
        left: 30px;
        transform: translateY(-100%);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fefcf9;
    }

/* Add triangle arrow for third-level dropdown (pointing left) */
.custom-mega-navbar .navigation-dropdown-menu.sub-menu::before {
        top: 10px;
        left: -15px;
        transform: none;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #fefcf9;
        content: "";
        position: absolute;
    }

.custom-mega-navbar .navigation-dropdown-menu > .navigation-item:hover > .sub-menu {
        display: block;
    }

/* Fix for third-level positioning - ensure it appears next to its parent */
.custom-mega-navbar .navigation-dropdown-menu .navigation-item {
        position: relative;
    }

.custom-mega-navbar .navigation-dropdown-menu .navigation-item:hover > .sub-menu {
            display: block;
            top: 0;
            left: 100%;
        }

/*Custom Navigation widget styling Ends*/



/* Horizontal Navigation Widget style*/
.horizontal-tabs-wrapper {
    display: flex;
    justify-content: center;
    margin: -60px auto;
    position: relative;
    z-index: 2;
}

.horizontal-tabs-navbar {
    background-color: #dc3545;
    padding: 15px 100px;
    width: fit-content;
    position: relative;
}

.horizontal-tabs {
    display: flex;
    border-bottom: none;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.horizontal-tabs .nav-item {
        list-style: none;
        padding: 0px 7px;
    }

.horizontal-tabs .nav-link {
        background-color: transparent;
        color: white;
        border: none;
        padding: 10px 23px;
        font-weight: 500;
        position: relative;
        transition: background 0.3s;
        text-decoration: none;
        font-size: 18px;
    }

.horizontal-tabs .active-tab::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid #dc3545;
    }

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s;
    z-index: 10;
}

.nav-arrow:disabled {
        opacity: 0.0;
        cursor: not-allowed;
    }

.nav-arrow.prev {
        left: 35px;
    }

.nav-arrow.next {
        right: 35px;
    }
.phone-red {
    color: #c8102e;
}
/* Tablet and mobile styles */
@media (max-width: 992px) {
    .horizontal-tabs-navbar {
        padding: 10px 30px;
        min-width: 200px;
        font-size:16px;
    }

    .nav-arrow {
        display: flex;
    }

    /* Hide all tabs except active one */
    .horizontal-tabs .nav-item {
        display: none;
    }

    .horizontal-tabs .nav-item.active-item {
            display: block;
        }

    /* Center the active tab */
    .horizontal-tabs {
        justify-content: center;
    }

        /* Hide triangle on tablet/mobile */
    .horizontal-tabs .active-tab::after {
            display: none;
        }
}

/*product complaint form*/
.products_form{
    max-height:700px;
    overflow-y:scroll;
    overflow-x:clip;
}

.products_form form [data-sf-role="fields-container"] > section:first-of-type {
}

.products_form form [data-sf-role="fields-container"] > section:nth-of-type(2) {

}
.products_form form [data-sf-role="fields-container"] > section:nth-of-type(3) {
    display:none;
}

.products_form form [data-sf-role="fields-container"] > section:nth-of-type(4) {
}
#submitBtn {
    display: none;
}
#backBtn {
    display: none;
}

.complaint-progress-bar {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* Container */
.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    position: relative;
    display:none;
/*    border:2px solid red;*/
}

/* Track line (gray) */
.progress-track {
    position: absolute;
    top: 50%;
    left: 20px;
    width: calc(100% - 40px); 
    height: 4px;
    background: #d3d3d3;
    transform: translateY(-50%);
    z-index: 0;
}

/* Progress bar (green) */
.progress {
    position: absolute;
    top: 50%;
    left: 20px; 
    height: 4px;
    background: #4CAF50;
    z-index: 1;
    transition: width 0.3s ease;
    transform: translateY(-50%);
    width: 0; 
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    flex: 1;
    position: relative;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease;
}

.active .circle {
    background: #4CAF50;
}

.completed .circle {
    background: #4CAF50;
}

.completed .circle::before {
        content: "✔";
        font-size: 20px;
    }

/* Labels */
.label {
    margin-top: 8px;
    font-size: 14px;
    color: #d3d3d3;
}

.active .label,
.completed .label {
    color: #4CAF50;
    font-weight: bold;
}




/*Electronic products*/
.text-truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.btn-where-to-buy {
    flex: 3; 
    padding: 8px 16px;
    color: white;
    background-color: red;
    border: none;
    font-weight: 700;
    font-size: 18px;
    min-height: 50px;
    border-radius: 4px;
}

.btn-key-features {
    flex: 1; 
    padding: 8px 16px;
    color: white;
    background-color: gray;
    border: none;
    font-weight: 700;
    font-size: 18px;
    min-height: 50px;
    border-radius: 4px;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
    .btn-where-to-buy,
    .btn-key-features {
        font-size: 16px;
        min-height: 45px;
        padding: 6px 12px;
    }
}

@media (max-width: 576px) {
    .button-container {
        flex-direction: column !important;
    }

    .btn-where-to-buy,
    .btn-key-features {
        flex: none;
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-key-features {
        margin-bottom: 0;
    }
}
/*product complaint form end here*/

@media (max-width: 576px) {
    .horizontal-tabs-navbar {
        padding: 2px 20px;
        min-width: 160px;
    }
    .horizontal-tabs-wrapper {
        display: flex;
        justify-content: center;
        margin: -50px auto;
        position: relative;
        z-index: 2;
    }
    .nav-arrow {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .nav-arrow.prev {
            left: 25px;
        }

    .nav-arrow.next {
            right: 25px;
        }
}


/* Horizontal Navigation Widget style Ends*/


/* Sidebar widget stylings */

.vertical-tabs-wrapper {
    display: flex;
    margin: 10px;
    overflow-x: clip;
    overflow-x: hidden;
}

.mobile-drawer {
    display: none;
}

.mobile-content {
    display: none;
}

.left-column {
    width: 250px;
    background-color: #c8102e;
    color: white;
    box-sizing: border-box;
    overflow-y: auto;
}

.left-column p {
        padding: 1rem;
        font-size: 2rem;
       font-weight: 700;
        line-height: 1.3;
        font-family: 'Public Sans', sans-serif;
    }

.left-column .divider {
        border: 1px solid white;
    }

.left-column ul {
        padding: 1rem;
        font-size: 1.5rem;
       font-weight: 700;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
}

.left-column li {
        color: #D7D8D8;
        position: relative;
        padding-right: 2.5rem;
    }

.left-column .tab-active::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -1rem;
        transform: translateY(-50%) rotate(360deg);
        border-width: 10px;
        border-style: solid;
        border-color: transparent white transparent transparent;
        transition: transform 0.7s ease-in-out;
        transition-delay: 5s;
    }

.left-column .tab-active {
        color: white;
    }

.left-column li:hover {
        color: white;
    }

.right-column {
    flex: 1;
    padding: 1rem 2.5rem 0rem 2rem;
    overflow-y: auto;
}

.filter-portion {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.filter-portion span {
        font-size: 1.25rem;
        line-height: 32px;
        height: 32px;
        display: inline-flex;
        align-items: center;
        font-family: 'Public Sans', sans-serif;
    }

#subRegionFilter {
    font-size: 0.875rem;
    min-width: 250px;
    height: 45px;
    padding: 6px 8px;
    border: 2px solid #D7D8D8;
    outline: none;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    margin: 0;
}

.drawer-panel {
    display: none;
}
/* Base styles */
.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.responsive-table th {
        border: none;
        font-size: 1.25rem;
        line-height: 1.2;
/*        text-align: left;*/
        font-weight: 700;
        width: fit-content;
        padding: 1rem 1rem;
    }

.responsive-table td {
        font-size: 1.5rem;
        line-height: 1.4;
/*        text-align: left;*/
        font-weight: 700;
        padding: 1rem 1rem;
    }
/* Scrollable tbody wrapper */
.table-body-scroll {
    height: 500px;
    overflow-y: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Striped body rows */
.table-body-scroll tr:nth-child(even) {
        background-color: #EDEDED;
    }

.table-body-scroll tr:nth-child(odd) {
        background-color: #ffffff;
    }
/* Visibility helpers */
.only-desktop {
    display: inline;
}

.only-mobile {
    display: none;
}

.hide-on-mobile {
    display: table-cell;
}
@media (max-width: 1024px) {
    .left-column {
        width: 220px;
    }

    .left-column p {
            padding: 0.75rem;
            font-size: 1.25rem;
            line-height: 1;
        }

    .left-column ul {
            padding: 0.75rem;
            font-size: 1rem;
            gap: 0.75rem;
        }

    .left-column li {
            padding-right: 2rem;
        }

    .responsive-table {
        font-size: 1rem;
        margin:0;
        width:100%;
        border:none;
    }

    .responsive-table td {
        padding: 16px 20px;
        font-size:1.25rem;
        line-height:1.2;
/*        text-align: left;*/
       font-weight: 700;
    }
    .responsive-table th {
            padding: 8px 20px;
            font-size: 0.875rem;
            line-height: 1.5;
            /*        text-align: left;*/
            font-weight: 700;
        }
    .right-column {
        padding: 1rem 1.75rem 0rem 1.5rem;
    }

    .filter-portion span {
        font-size: 1rem;
    }

    #subRegionFilter {
        min-width: 200px;
        height: 40px;
    }
}

@media (max-width: 576px) {
    .vertical-tabs-wrapper {
        display: block;
        margin: 0px;
        overflow-x: clip;
    }
    .table-body-scroll{
        height:700px;
    }
    .left-column {
        display: none;
    }
    .right-column {
        flex: 1;
        padding: 0;
        margin:0;
/*        overflow-y: auto;*/
    }
    .filter-portion {
        display: none;
    }
    .mobile-drawer {
        display: block;
        background-color: #c8102e;
        color: white;
    }

    .mobile-drawer div h3 {
            font-size: 20px;
           font-weight: 700;
        }
    .mobile-drawer-breadcrumb p {
        font-size: 14px;
    }
    .responsive-table{
        margin:0;
        padding:0;
    }
    .responsive-table thead {
        background-color: #737373;
        color: white;
        border:none;
        font-size:0.875rem
    }
    .responsive-table td, th {
           font-weight: 700;
            border: none;

     }

    .responsive-table td {
        font-size: 1.25rem;
        line-height:1.2;
    }

    .filter-btn {
        font-size:0.875rem;
        line-height: 1.5;
        padding: 0.125rem 1.25rem;
        background-color: white;
        color: black;
        font-weight: 700;
        border: none;
    }

    body .drawer-open {
        overflow: hidden;
        position: fixed;
        width: 100%;
    }

    .drawer-panel {
        position: fixed;
        top: 0;
        right: -100%;
        width: 85%;
        height: 100%;
        background-color: #fff;
        z-index: 1050;
        transition: right 0.3s ease-in-out;
        box-shadow: -2px 0 10px rgba(0,0,0,0.3);
    }

    .drawer-contents {
    }

    .drawer-body {
        background-color: #D7D7D7;
    }

    .drawer-body-list {
        height: 100vh;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    #mobileRegionTabs {
        background-color: #EDEDED;
    }

    .drawer-panel.open {
        right: 0;
        display: block;
    }

    .drawer-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1040;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .drawer-overlay::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            filter: blur(2px);
            background: rgba(255, 255, 255, 0.1);
        }

    .drawer-overlay.show {
            opacity: 1;
            visibility: visible;
        }
    body.drawer-open .responsive-table,
    body.drawer-open .responsive-table {
        filter: blur(2px);
        -webkit-filter: blur(2px);
        transition: filter 0.4s ease;
    }
    body.drawer-open .mobile-drawer,
    body.drawer-open .mobile-content {
        filter: blur(2px);
        -webkit-filter: blur(2px);
        transition: filter 0.4s ease;
    }

    body.drawer-open .drawer-panel,
    body.drawer-open .drawer-overlay {
        filter: none;
        -webkit-filter: none;
    }

    .faq-item {
        border-bottom: 1px solid #ccc;
    }

    .faq-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:1rem 1rem;
    }

    .faq-question {
        font-size: 1rem;
        font-weight: 700;
        line-height:1.5;
    }

    .faq-toggle {
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        font-weight: 700;
    }

    .faq-answer {
        display: none;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        background-color: #D7D7D7;
    }

    .faq-answer ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0px 0px;
            margin: 0;
            background-color: #EDEDED;
        }

    .mobile-subregion-tabs li {
        font-size:1rem;
        font-weight:400;
        padding: 0.625rem 1.25rem;
    }

    .hide-on-mobile {
        display: none;
    }

    .merged-header::after {
        content: " / PHONE";
    }

    .only-desktop {
        display: none;
    }

    .only-mobile {
        display: block;
    }

    .merged-cell {
        display: block;
    }

    .merged-cell > div {
            line-height: 1.4;
            margin-right: 0px;
            padding-right: 0px;
    }
}

/* Sidebar widget stylings Ends*/


/*Common Desgins*/

#skeletonLoader {
    display: none;
}
.skeleton-table {
    width: 100%;
    font-size: 1.5rem;
    border: none;
    border-collapse: separate;
    border-spacing: 0 1rem;
}
.skeleton-row td {
    padding: 0;
    height: 70px;
    border: none;
}
.skeleton-block {
    height: 100%;
    width: 100%;
    background-color: #f1f5f9;
    position: relative;
    overflow: hidden;
}

.skeleton-row.shimmer .skeleton-block::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 100%;
    background: linear-gradient( to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100% );
    animation: shimmer 1.5s infinite;
}
.skeleton-table tbody tr:first-child {
    margin-top: 0;
    border-spacing: 0; 
}

/* Animation */
@keyframes shimmer {
    0% {
        left: -150px;
    }

    100% {
        left: 100%;
    }
}







 /*vertical static sidebar*/
.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
   font-weight: 700;
    letter-spacing: 2px;
}
.sti-sidebar {
    width: 100%;
    height: 100%;
    background-color: #dc3545;
    color: white;
}

/*Accordian design*/
.custom-accordion{
    padding-left:2rem;
    padding-right:2rem;
}
.custom-accordion .accordion-button {
    background-color: white !important;
    color: black !important;
    box-shadow: none;
   font-weight: 700;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 0;
    padding-right: 0;
    transition: border-bottom 0.3s ease;
}

.custom-accordion .accordion-button:not(.collapsed) {
        color: red !important;
        border-bottom: none !important; 
    }

.custom-accordion .accordion-button:not(.collapsed)::after {
            filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(6000%) hue-rotate(-10deg) brightness(90%) contrast(100%);
        }

.custom-accordion .accordion-button.collapsed::after {
        filter: none;
    }

.custom-accordion .accordion-item {
    border: none;
    margin-bottom: 10px;
    background-color: white;
}

.custom-accordion .accordion-body {
    background-color: white;
    color: #333;
    padding-left: 0;
    padding-right: 0;
    border-top: none;
    border-bottom: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: border-bottom 0.3s ease;
}

.custom-accordion .accordion-collapse.show .accordion-body {
    border-bottom: 1px solid black;
}

/*   Bg With Images */

.section {
    height: 350px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
}

.section h1 {
        font-size: 48px;
        padding-left: 2rem;
        padding-right: 2rem;
       font-weight: 700;
        margin-bottom: 1rem;
    }

.section p {
        padding-left: 2rem;
        padding-right: 2rem;
    }

.top-bg {
    background: url("/images/Installation guide image.jpg") center/cover no-repeat;
    position: relative;
    z-index: 1;
}

.top-bg::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: -1;
    }

/* Tablet and mobile styles */
@media (max-width: 992px) {
    .section {
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;
    }

        .section h1,
        .section p {
            padding: 5px 0px !important;
        }

}





















